@import "../abstracts/colors";

.activeWrapper {
  display: flex;
  flex-direction: column;
  max-width: 13%;
  height: 100%;
  margin-right: 1%;
  position: relative;

  .activeTitleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 100%;
    cursor: pointer;
    &:hover::after {
      content: "Hide Active Tabs";
      position: absolute;
      top: 55px;
      right: 15px;
      color: white;
      background-color: gray;
      padding: 5px;
      font-size: smaller;
    }
  }
  .activeList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

.activeTitleWrapperUnpinned {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  width: 30px;
  flex-direction: column;
  align-items: center;
  &:hover::after {
    content: "Show Active Tabs";
    position: absolute;
    top: 170px;
    left: 30px;
    white-space: nowrap;
    color: white;
    background-color: gray;
    padding: 5px;
    font-size: smaller;
    z-index: 3;
  }

  .pinUnpinned {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 10px;
    color: var(--group-title-color);
    &:hover {
      color: var(--text-color);
    }
  }

  .activeTitleUnpinned {
    color: var(--group-title-color);
    transform: rotate(90deg);
    transform-origin: center;
    white-space: nowrap;
    margin-top: 70px;
    margin-left: 10px;
    &:hover {
      color: var(--text-color);
    }
  }
}

.pin {
  font-size: 1rem;
  color: var(--text-color);
  margin-left: 2px;
  &::after {
    content: "Pin Active Tabs";
    position: absolute;
    top: 35px;
    right: 15px;
    color: white;
    background-color: gray;
    padding: 5px;
    font-size: smaller;
  }
}

.activeTitle {
  color: var(--text-color);
  width: 150px;
  font-size: 1.3rem;
  text-align: center;
}

.activeList > .activeTab {
  display: none;
}

.activeList.pinned > .activeTab {
  display: block;
}

//滑過去就出現所有activeTabs
// .activeTitleWrapperUnpinned:hover + .activeList > .activeTab {
//   display: block;
// }

.activeItem {
  height: 50px;
  list-style-type: none;
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;
  margin: 0px 10px;

  &:hover {
    background-color: var(--secondary-background-color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    .deleteButton {
      opacity: 1;
    }
  }
  .activeTabTitle {
    display: block;
    color: var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.85rem;
  }
  .activeIcon {
    margin: 10px;
    width: 1.5rem;
    height: 1.5rem;
  }
  .activeGroupIcon {
    margin: 15px;
    font-size: 0.9rem;
    position: absolute;
    right: 1px;
    background-color: var(--secondary-background-color);
    border-radius: 50%;
    padding: 0px 3px;
  }
}
