@import "../abstracts/colors";

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.mainRight {
  display: flex;
  flex-direction: column;
  min-width: 84%;

  height: 100%;
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--secondary-text-color);

    //temp SearchBar
    .searchBar {
      margin: 10px;
      color: var(--text-color);
      height: 30px;
      width: 500px;
      background-color: var(--secondary-background-color);
    }

    .headerButtons {
      width: 110px;
      margin-left: 10px;
      position: relative;
      display: flex;
    }

    .themeIcon,
    .logoutIcon,
    .userIcon {
      cursor: pointer;
      position: relative;
      color: var(--text-color);
      font-size: 1rem;
      margin: 10px;

      &:hover::after {
        content: " ";
        z-index: 10;
        position: absolute;
        top: 20px;
        right: 15px;
        color: var(--secondary-background-color);
        background-color: gray;
        padding: 5px;
        font-size: smaller;
      }
    }

    .themeIcon:hover::after {
      content: "Change Theme";
    }

    .logoutIcon:hover::after {
      content: "Log Out";
    }

    .userIcon:hover::after {
      content: "Show User Email";
    }
  }

  .groups {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;

    .groupList {
      height: 100%;
      display: flex;
    }
    .newGroup {
      width: 100%;
      height: 100%;
    }
  }
}

// general styles
.deleteButton {
  opacity: 0;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  color: var(--text-color);
  background-color: var(--background-color);
  &:hover {
    cursor: pointer;
    background-color: var(--selected);
  }
}

// tempCss for Note
.note {
  width: 80%;
  height: 50px;
  margin: 10px auto;
  border-radius: 10px;
  opacity: 0;

  &:hover,
  &.hasContent {
    background-color: var(--background-color);
    opacity: 1;
  }
}
