.wrapper{
  display: flex;
  width: 100vw;
  height: 90vh;
}


.activeList{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  margin-right: 10px;
  background-color: rgb(205, 228, 247);
}

.groups {
  display :flex
}

.group {
  margin: 0px 5px;
  padding: 10px;
  border: 2px dashed blue;
  width: 300px;
  position: relative; 

}
.groupInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.groupIcon {
  font-size: 2.5rem;
  margin-right:10px;
}
.groupTitle{
  color: blue;
}

.deleteButton{
  border-radius: 50%;
}



.newGroup {
  background-color: rgb(233, 230, 230);
  width: 100%;
  margin-left: 10px;
}
.tabItem {
  list-style-type: none;
  width: 100%;
  height: 70px;
  margin: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  z-index: 1;
}
.tabTitle {
  overflow: hidden;
  padding-top:10px;
}
.tabIcon {
  margin:5px;
  width: 2.5rem;
  height: 2.5rem;
}