.wrapper{
  display: flex;
}

li {
  list-style-type: none;
}

.activeList{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 10px;
}

.activeTab {
  border: 2px solid blue;
}
.groups {
  display :flex;
}
.group {
  margin: 5px;
  padding: 10px;
  border: 2px dashed blue;
}
 
.newGroup {
  background-color: lightblue;
  width:50%;
}